<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QLCUAHANG_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLCUAHANG_GUI.Properties.Settings.QUANLICUAHANG1ConnectionString" connectionString="Server=.;Database=QUANLICUAHANG1;Integrated Security=SSPI" providerName="System.Data.SqlClient" /><add name="ChartEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KHF9K36;initial catalog=QUANLICUAHANG1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="QUANLICUAHANG1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KHF9K36;initial catalog=QUANLICUAHANG1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-JFCSOM4;Initial Catalog=QUANLICUAHANG;Integrated Security=True"/>
    <add key ="MSHSFORMAT" value =""/>
  </appSettings>-->
  <!--<connectionStrings>
    <add name="connectionString" connectionString="Data Source=DESKTOP-JFCSOM4;Initial Catalog=QUANLICUAHANG1;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <appSettings>
    <add key="ConnectionString" value="Server=.;Database=QUANLICUAHANG1;Integrated Security=SSPI"/>
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"/>-->
  </appSettings>
  <userSettings>
    <QLCUAHANG_GUI.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
      <setting name="NameLog" serializeAs="String">
        <value />
      </setting>
      <setting name="PassLog" serializeAs="String">
        <value />
      </setting>
    </QLCUAHANG_GUI.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
