USE [master]
GO
/****** Object:  Database [QUANLICUAHANG1]    Script Date: 7/3/2018 4:40:36 AM ******/
CREATE DATABASE [QUANLICUAHANG1]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLICUAHANG1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLICUAHANG1]
GO
USE [QUANLICUAHANG1]
GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaDL]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fcGetMaDL]()
RETURNS nvarchar(10)

AS 
BEGIN
    DECLARE @MaDL NVARCHAR(10)
	DECLARE @MaxMaDL NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaDL=MAX(MADL) FROM dbo.DAILI

	IF EXISTS (SELECT MaDL FROM dbo.DAILI)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaDL,3,8))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaDL='DL'+'0000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaDL='DL'+'000000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaDL='DL'+'00000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaDL='DL'+'0000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaDL='DL'+'000'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaDL='DL'+'00'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	IF (@Max<10000000)
		SET @MaDL='DL'+'0'+CONVERT(NVARCHAR(7),@Max)   
	ELSE
	    SET @MaDL='DL'+CONVERT(NVARCHAR(8),@Max)
	RETURN @MaDL
END
GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaHDB]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Hàm tự động tăng Mã hóa đơn bán

CREATE FUNCTION [dbo].[fcGetMaHDB]()
RETURNS nvarchar(10)

AS 
BEGIN
    DECLARE @MaHDB NVARCHAR(10)
	DECLARE @MaxMaHDB NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaHDB=MAX(MAHDB) FROM dbo.HOADONBANHANG

	IF EXISTS (SELECT MAHDB FROM dbo.HOADONBANHANG)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaHDB,4,7))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaHDB='HDB'+'000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaHDB='HDB'+'00000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaHDB='HDB'+'0000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaHDB='HDB'+'000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaHDB='HDB'+'00'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaHDB='HDB'+'0'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	    SET @MaHDB='HDB'+CONVERT(NVARCHAR(7),@Max)
	RETURN @MaHDB
END
GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaHDN]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Hàm tự động tăng Mã hóa đơn nhập

CREATE FUNCTION [dbo].[fcGetMaHDN]()
RETURNS nvarchar(10)

AS 
BEGIN
    DECLARE @MaHDN NVARCHAR(10)
	DECLARE @MaxMaHDN NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaHDN=MAX(MAHDN) FROM dbo.HOADONNHAPHANG

	IF EXISTS (SELECT MAHDN FROM dbo.HOADONNHAPHANG)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaHDN,4,7))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaHDN='HDN'+'000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaHDN='HDN'+'00000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaHDN='HDN'+'0000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaHDN='HDN'+'000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaHDN='HDN'+'00'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaHDN='HDN'+'0'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	    SET @MaHDN='HDN'+CONVERT(NVARCHAR(7),@Max)
	RETURN @MaHDN
END
GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaKH]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hàm tự động tăng Mã khách hàng

CREATE FUNCTION [dbo].[fcGetMaKH]()
RETURNS nvarchar(10)

AS 
BEGIN
    DECLARE @MaKH NVARCHAR(10)
	DECLARE @MaxMaKH NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaKH=MAX(MAKH) FROM dbo.KHACHHANG

	IF EXISTS (SELECT MaKH FROM KHACHHANG)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaKH,3,8))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaKH='KH'+'0000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaKH='KH'+'000000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaKH='KH'+'00000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaKH='KH'+'0000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaKH='KH'+'000'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaKH='KH'+'00'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	IF (@Max<10000000)
		SET @MaKH='KH'+'0'+CONVERT(NVARCHAR(7),@Max)   
	ELSE
	    SET @MaKH='KH'+CONVERT(NVARCHAR(8),@Max)
	RETURN @MaKH
END
GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaSP]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fcGetMaSP]()
RETURNS nvarchar(10)

AS 
BEGIN
      DECLARE @MaSPDL NVARCHAR(10)
	DECLARE @MaxMaSPDL NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaSPDL=MAX(MaSPDL) FROM dbo.SANPHAMDL

	IF EXISTS (SELECT MaSPDL FROM dbo.SANPHAMDL)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaSPDL,3,8))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaSPDL='SP'+'0000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaSPDL='SP'+'000000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaSPDL='SP'+'00000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaSPDL='SP'+'0000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaSPDL='SP'+'000'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaSPDL='SP'+'00'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	IF (@Max<10000000)
		SET @MaSPDL='SP'+'0'+CONVERT(NVARCHAR(7),@Max)   
	ELSE
	    SET @MaSPDL='SP'+CONVERT(NVARCHAR(8),@Max)
	RETURN @MaSPDL
END
GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaTT]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fcGetMaTT]()
RETURNS nvarchar(10)

AS 
BEGIN
    DECLARE @MaTT NVARCHAR(10)
	DECLARE @MaxMaTT NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaTT=MAX(MATT) FROM dbo.QUANLI_TIENNOKH

	IF EXISTS (SELECT MATT FROM dbo.QUANLI_TIENNOKH)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaTT,4,7))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaTT='TT'+'000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaTT='TT'+'00000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaTT='TT'+'0000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaTT='TT'+'000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaTT='TT'+'00'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaTT='TT'+'0'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	    SET @MaTT='TT'+CONVERT(NVARCHAR(7),@Max)
	RETURN @MaTT
END

GO
/****** Object:  UserDefinedFunction [dbo].[fcGetMaTTDL]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[fcGetMaTTDL]()
RETURNS nvarchar(10)

AS 
BEGIN
    DECLARE @MaTTDL NVARCHAR(10)
	DECLARE @MaxMaTTDL NVARCHAR(10)
	DECLARE @Max FLOAT
    
	SELECT @MaxMaTTDL=MAX(MATN) FROM dbo.QUANLI_TIENNODL

	IF EXISTS (SELECT MATN FROM QUANLI_TIENNODL)
		SET @Max=CONVERT (FLOAT,SUBSTRING(@MaxMaTTDL,4,7))+1
	ELSE
		SET @Max=1
	IF (@Max<10)
		SET @MaTTDL='TT'+'000000'+CONVERT(NVARCHAR(1),@Max)
	ELSE
	IF (@Max<100)
		SET @MaTTDL='TT'+'00000'+CONVERT(NVARCHAR(2),@Max)
	ELSE
	IF (@Max<1000)
		SET @MaTTDL='TT'+'0000'+CONVERT(NVARCHAR(3),@Max)
	ELSE
	IF (@Max<10000)
		SET @MaTTDL='TT'+'000'+CONVERT(NVARCHAR(4),@Max)
	ELSE
	IF (@Max<100000)
		SET @MaTTDL='TT'+'00'+CONVERT(NVARCHAR(5),@Max)
	ELSE
	IF (@Max<1000000)
		SET @MaTTDL='TT'+'0'+CONVERT(NVARCHAR(6),@Max)
    ELSE
	    SET @MaTTDL='TT'+CONVERT(NVARCHAR(7),@Max)
	RETURN @MaTTDL
END
GO
/****** Object:  Table [dbo].[SANPHAMCH]    Script Date: 7/3/2018 4:40:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMCH](
	[MaSPCH] [nvarchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[Gia] [money] NULL,
	[DonVi] [nvarchar](20) NULL,
	[SoLuong] [int] NULL,
	[HinhAnh] [nvarchar](250) NULL,
	[ThongSo] [int] NULL,
	[BanLe] [int] NULL,
	[SoLuongLe] [int] NULL,
 CONSTRAINT [PK_SANPHAMCH] PRIMARY KEY CLUSTERED 
(
	[MaSPCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_SANPHAMCH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_SANPHAMCH]
AS
	select MaSPCH,TenSP,SoLuong,Gia,DonVi
	from SANPHAMCH
GO
/****** Object:  Table [dbo].[DAILI]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILI](
	[MaDL] [nvarchar](10) NOT NULL,
	[TenDL] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDT] [nvarchar](15) NULL,
	[TongNo] [money] NULL,
 CONSTRAINT [PK_DAILI] PRIMARY KEY CLUSTERED 
(
	[MaDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_DAILI]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_DAILI]
AS
	SELECT MADL,TENDL,TONGNO,DIACHI,SODT
	FROM DAILI
	where tongno>0
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDT] [nvarchar](15) NULL,
	[TongNo] [money] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_KHACHHANG]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[VW_KHACHHANG]
AS
	select ROW_NUMBER() over (order by Makh) as STT,MAKH,TENKH,TONGNO,DIACHI,SODT
	FROM KHACHHANG
	where tongno>0
GO
/****** Object:  Table [dbo].[CHITIETHOADONBAN]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONBAN](
	[MaHDB] [nvarchar](10) NOT NULL,
	[MaSPCH] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[HinhThucBan] [int] NULL,
	[SoLuongMuaLe] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADONBAN1] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC,
	[MaSPCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONNHAP]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNHAP](
	[MaHDN] [nvarchar](10) NOT NULL,
	[MaSPDL] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADONNHAP] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaSPDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBANHANG]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBANHANG](
	[MaHDB] [nvarchar](10) NOT NULL,
	[TenCH] [nvarchar](50) NULL,
	[MaKH] [nvarchar](10) NULL,
	[TenKH] [nvarchar](50) NULL,
	[NgayNhap] [datetime2](7) NULL,
	[TongTien] [money] NULL,
	[TongNo] [money] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOADONBANHANG] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAPHANG]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAPHANG](
	[MaHDN] [nvarchar](10) NOT NULL,
	[MaDL] [nvarchar](10) NULL,
	[TenDL] [nvarchar](50) NULL,
	[NgayNhap] [datetime2](7) NULL,
	[TongTien] [money] NULL,
	[TongNo] [money] NULL,
 CONSTRAINT [PK_HOADONNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLI_TIENNODL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLI_TIENNODL](
	[MaTN] [nvarchar](10) NOT NULL,
	[MaDL] [nvarchar](10) NULL,
	[NgayTra] [datetime2](7) NULL,
	[SoTienTra] [money] NULL,
 CONSTRAINT [PK_QUANLI_TIENNODL] PRIMARY KEY CLUSTERED 
(
	[MaTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLI_TIENNOKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLI_TIENNOKH](
	[MaTT] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NULL,
	[NgayTra] [datetime2](7) NULL,
	[SoTienTra] [money] NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAMDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAMDL](
	[MaSPDL] [nvarchar](10) NOT NULL,
	[TenSP] [nvarchar](50) NOT NULL,
	[MaDL] [nvarchar](10) NOT NULL,
	[Gia] [money] NULL,
	[DonVi] [nvarchar](20) NULL,
	[ThongSo] [int] NULL,
 CONSTRAINT [PK_SANPHAMDL] PRIMARY KEY CLUSTERED 
(
	[MaSPDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[ChucVu] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DAILI] ([MaDL], [TenDL], [DiaChi], [SoDT], [TongNo]) VALUES (N'DL00000002', N'Công ty Cổ Phần VICOWIN', N'Số 15, Đường số 01, KP3, Phường Tân Tạo A, Quận Bì', N'08 62682593', 0.0000)
INSERT [dbo].[DAILI] ([MaDL], [TenDL], [DiaChi], [SoDT], [TongNo]) VALUES (N'DL00000003', N'Công Ty TNHH ViDan', N'Lô C5B, Đường số 3, KCN Hiệp Phước, Xã Hiệp Phước,', N'08 37818969', 12.0000)
INSERT [dbo].[DAILI] ([MaDL], [TenDL], [DiaChi], [SoDT], [TongNo]) VALUES (N'DL00000004', N'Công Ty Cổ Phần Hóa Nông Mỹ Việt Đức', N'18C-18D Ngô Quyền, Phường 6, Quận 5, TPHCM', N'08 3855 0486', 0.0000)
INSERT [dbo].[HOADONBANHANG] ([MaHDB], [TenCH], [MaKH], [TenKH], [NgayNhap], [TongTien], [TongNo], [GhiChu]) VALUES (N'HDB0000001', N'Vật tư tổng hợp', N'KH00000001', N'Tô Công Hậu', CAST(N'2018-04-25T00:00:00.0000000' AS DateTime2), 0.0000, 50.0000, N'')
INSERT [dbo].[HOADONBANHANG] ([MaHDB], [TenCH], [MaKH], [TenKH], [NgayNhap], [TongTien], [TongNo], [GhiChu]) VALUES (N'HDB0000002', N'Vật tư tổng hợp', N'KH00000002', N'Trần Quốc Toàn', CAST(N'2018-04-25T00:00:00.0000000' AS DateTime2), 0.0000, 20.0000, N'')
INSERT [dbo].[HOADONNHAPHANG] ([MaHDN], [MaDL], [TenDL], [NgayNhap], [TongTien], [TongNo]) VALUES (N'HDN0000001', N'DL00000002', N'Công ty Cổ Phần VICOWIN', CAST(N'2018-04-25T00:00:00.0000000' AS DateTime2), 0.0000, 15.0000)
INSERT [dbo].[HOADONNHAPHANG] ([MaHDN], [MaDL], [TenDL], [NgayNhap], [TongTien], [TongNo]) VALUES (N'HDN0000002', N'DL00000003', N'Công Ty TNHH ViDan', CAST(N'2018-04-25T00:00:00.0000000' AS DateTime2), 0.0000, 5.0000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SoDT], [TongNo]) VALUES (N'KH00000001', N'Tô Công Hậu', N'Phổ Minh, Đức Phổ, Quảng Ngãi', N'01697596861', 75.0000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SoDT], [TongNo]) VALUES (N'KH00000002', N'Trần Quốc Toàn', N'Phổ Thuận, Đức Phổ, Quảng Ngãi', N'0938482323', 20.0000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SoDT], [TongNo]) VALUES (N'KH00000003', N'Nguyễn Tô Thúy Hằng', NULL, NULL, 0.0000)
INSERT [dbo].[QUANLI_TIENNOKH] ([MaTT], [MaKH], [NgayTra], [SoTienTra], [TinhTrang]) VALUES (N'TT0000001', N'KH00000004', CAST(N'2018-06-25T00:00:00.0000000' AS DateTime2), 10000.0000, 1)
INSERT [dbo].[QUANLI_TIENNOKH] ([MaTT], [MaKH], [NgayTra], [SoTienTra], [TinhTrang]) VALUES (N'TT0000002', N'KH00000001', CAST(N'2018-06-26T00:00:00.0000000' AS DateTime2), 10000.0000, 1)
INSERT [dbo].[SANPHAMCH] ([MaSPCH], [TenSP], [Gia], [DonVi], [SoLuong], [HinhAnh], [ThongSo], [BanLe], [SoLuongLe]) VALUES (N'SP00000005', N'MERISTEM-MÔ PHÂN CHIN-VICOWIN', 250000.0000, N'bịch', 18, N'', 100, 1, 210)
INSERT [dbo].[SANPHAMCH] ([MaSPCH], [TenSP], [Gia], [DonVi], [SoLuong], [HinhAnh], [ThongSo], [BanLe], [SoLuongLe]) VALUES (N'SP00000006', N'VI KHUẨN ĐÔI KHÁNG BACILUS', 500000.0000, N'bịch', 29, N'', 200, 1, 80)
INSERT [dbo].[SANPHAMCH] ([MaSPCH], [TenSP], [Gia], [DonVi], [SoLuong], [HinhAnh], [ThongSo], [BanLe], [SoLuongLe]) VALUES (N'SP00000007', N'KALI ĐEN', 30000.0000, N'bao', 8, NULL, 100, 1, 90)
INSERT [dbo].[SANPHAMDL] ([MaSPDL], [TenSP], [MaDL], [Gia], [DonVi], [ThongSo]) VALUES (N'SP00000001', N'BULITEM Short Cycle - VICOWIN', N'DL00000002', 15000.0000, N'chai', 4)
INSERT [dbo].[SANPHAMDL] ([MaSPDL], [TenSP], [MaDL], [Gia], [DonVi], [ThongSo]) VALUES (N'SP00000002', N'Thuốc trừ sau SAULA 30wg-5GR', N'DL00000002', 20000.0000, N'bịch', 65)
INSERT [dbo].[SANPHAMDL] ([MaSPDL], [TenSP], [MaDL], [Gia], [DonVi], [ThongSo]) VALUES (N'SP00000003', N'Thuốc trừ bệnh Uni HEXMA5SC', N'DL00000002', 20000.0000, N'chai', 500)
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([ID], [UserName], [Pass], [ChucVu], [DiaChi], [SoDT]) VALUES (3, N'toan', N'123', N'Admin', N'Phổ Thuận, Đức Phổ, Quảng Ngãi', N'088587')
INSERT [dbo].[USERS] ([ID], [UserName], [Pass], [ChucVu], [DiaChi], [SoDT]) VALUES (5, N'Admin', N'123', N'Nhân viên', N'UIT', N'01697596861')
INSERT [dbo].[USERS] ([ID], [UserName], [Pass], [ChucVu], [DiaChi], [SoDT]) VALUES (6, N'hau', N'123', N'Admin', N'Phổ Minh, Đức Phổ, Quảng Ngãi', N'01697596861')
SET IDENTITY_INSERT [dbo].[USERS] OFF
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDB_HDBAN] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HOADONBANHANG] ([MaHDB])
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] CHECK CONSTRAINT [FK_CHITIETHDB_HDBAN]
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDBAN_HDBANHANG] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HOADONBANHANG] ([MaHDB])
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] CHECK CONSTRAINT [FK_CHITIETHDBAN_HDBANHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDN_HDN] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HOADONNHAPHANG] ([MaHDN])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHDN_HDN]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHDN_SPDL] FOREIGN KEY([MaSPDL])
REFERENCES [dbo].[SANPHAMDL] ([MaSPDL])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHDN_SPDL]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNH_DL] FOREIGN KEY([MaDL])
REFERENCES [dbo].[DAILI] ([MaDL])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HOADONNH_DL]
GO
ALTER TABLE [dbo].[SANPHAMCH]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAMCH_SANPHAMDL] FOREIGN KEY([MaSPCH])
REFERENCES [dbo].[SANPHAMDL] ([MaSPDL])
GO
ALTER TABLE [dbo].[SANPHAMCH] CHECK CONSTRAINT [FK_SANPHAMCH_SANPHAMDL]
GO
ALTER TABLE [dbo].[SANPHAMDL]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAMDL_DAILI] FOREIGN KEY([MaDL])
REFERENCES [dbo].[DAILI] ([MaDL])
GO
ALTER TABLE [dbo].[SANPHAMDL] CHECK CONSTRAINT [FK_SANPHAMDL_DAILI]
GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_TIENNOKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CAPNHAT_TIENNOKH]
@MaKH nvarchar(10),@TongNo money
AS
BEGIN
	update khachhang set tongno=@Tongno where makh=@makh
END
GO
/****** Object:  StoredProcedure [dbo].[CAPNHAT_TINHTRANGKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[CAPNHAT_TINHTRANGKH]
@MaKH nvarchar(10)
AS
BEGIN
	update QUANLI_TIENNOKH set TinhTrang=1 where makh=@makh
END
GO
/****** Object:  StoredProcedure [dbo].[DoanhThuTheoThang]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DoanhThuTheoThang]
@MaKhoa int
as
begin
	select ROW_NUMBER() over (order by MaHDB) as STT,MAHDB,TENCH,MAKH,TENKH,tongtien,ngaynhap,ghichu
	from HOADONBANHANG
	where month(ngaynhap)=@MaKhoa and tongtien>0
end
GO
/****** Object:  StoredProcedure [dbo].[DonViSanPham]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonViSanPham]
@MaSPCH nvarchar(10)
AS 
BEGIN
	SELECT*FROM dbo.SANPHAMCH WHERE MaSPCH=@MaSPCH
END
GO
/****** Object:  StoredProcedure [dbo].[DS_MaHDBAN]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DS_MaHDBAN]
@MaKH NVARCHAR(10)
AS
BEGIN
	SELECT Distinct(MaHDB) FROM dbo.HOADONBANHANG WHERE MaKH=@MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[DS_MaHDNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[DS_MaHDNhap]
@MaDL NVARCHAR(10)
AS
BEGIN
	SELECT Distinct(MaHDN) FROM dbo.HOADONNHAPHANG WHERE MaDL=@MaDL
END
GO
/****** Object:  StoredProcedure [dbo].[DS_TIENNODL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[DS_TIENNODL]
AS
BEGIN
	SELECT DISTINCT(MaDL),TENDL FROM dbo.HOADONNHAPHANG where TongNo>0
END
GO
/****** Object:  StoredProcedure [dbo].[DS_TIENNOKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DS_TIENNOKH]
AS
BEGIN
	SELECT DISTINCT(MaKH),TENKH FROM dbo.HOADONBANHANG where TongNo>0
END
GO
/****** Object:  StoredProcedure [dbo].[DS_TONGNO]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DS_TONGNO]
@MaKH NVARCHAR(10)
AS
BEGIN
	SELECT TongNo FROM dbo.KHACHHANG WHERE MaKH=@MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[DSChiTietPhieuBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Chi tiet hoa don ban hang
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 27/4/2018
-- Description:	Danh sách chi tiết phiếu bán hàng
-- =============================================
CREATE PROCEDURE [dbo].[DSChiTietPhieuBan] 
AS
BEGIN
	SELECT *FROM dbo.CHITIETHOADONBAN
END
GO
/****** Object:  StoredProcedure [dbo].[DSChiTietPhieuNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSChiTietPhieuNhap] 
AS
BEGIN
	SELECT*FROM dbo.CHITIETHOADONNHAP
END
GO
/****** Object:  StoredProcedure [dbo].[DSDAILI]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DSDAILI] 
AS
BEGIN
	SELECT *FROM DAILI
END
GO
/****** Object:  StoredProcedure [dbo].[DSKhachHang]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 26/4/2018
CREATE PROCEDURE [dbo].[DSKhachHang] 
AS
BEGIN
	SELECT *FROM dbo.KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[DSPhieuBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 27/4/2018
-- Description:	Danh sách phiếu bán hàng
-- =============================================
CREATE PROCEDURE [dbo].[DSPhieuBan] 
AS
BEGIN
	SELECT* FROM dbo.HOADONBANHANG
END
GO
/****** Object:  StoredProcedure [dbo].[DSPhieuNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 25/4/2018
-- Description:	Danh sách phiếu nhập
-- =============================================
CREATE PROCEDURE [dbo].[DSPhieuNhap] 
AS
BEGIN
	SELECT *FROM dbo.HOADONNHAPHANG
END
GO
/****** Object:  StoredProcedure [dbo].[DSSanPhamCH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DSSanPhamCH] 
AS
BEGIN
	SELECT * FROM dbo.SANPHAMCH 
END
GO
/****** Object:  StoredProcedure [dbo].[DSSanPhamDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 22/04/2018
-- Description:	Sản phẩm của Đại Lí
-- =============================================
CREATE PROCEDURE [dbo].[DSSanPhamDL] 
AS
BEGIN
	SELECT*FROM dbo.SANPHAMDL
END
GO
/****** Object:  StoredProcedure [dbo].[DSTIENNODL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DSTIENNODL]
@MaDL NVARCHAR(10)
AS
BEGIN
	SELECT * FROM dbo.QUANLI_TIENNODL where  MaDL=@MaDL
END
GO
/****** Object:  StoredProcedure [dbo].[DSTIENNOKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DSTIENNOKH]
@MaKH NVARCHAR(10)
AS
BEGIN
	SELECT * FROM dbo.QUANLI_TIENNOKH WHERE MaKH=@MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[LoginAdin]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginAdin]
@Name varchar(50),
@Pass varchar(50)
as
begin
	select UserName,pass from USERS where UserName=@Name and Pass=@pass 
end
GO
/****** Object:  StoredProcedure [dbo].[SuaChiTietPHBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaChiTietPHBan] 
	@MaHDB NVARCHAR(10),
	@MaSPCH NVARCHAR(10),
	@SoLuong INT,
	@DonViTinh NVARCHAR(20),
	@HinhThucBan INT,
	@SoLuongMuaLe INT
AS
BEGIN
	UPDATE dbo.CHITIETHOADONBAN SET SoLuong=@SoLuong,DonViTinh=@DonViTinh,HinhThucBan=@HinhThucBan,SoLuongMuaLe=@SoLuongMuaLe WHERE MaHDB=@MaHDB AND  MaSPCH=@MaSPCH
END
GO
/****** Object:  StoredProcedure [dbo].[SuaChiTietPHNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 26/4/2018
-- Description:	Thêm chi tiết phiếu nhập
-- =============================================
CREATE  PROCEDURE [dbo].[SuaChiTietPHNhap]
	@MaHDN NVARCHAR(10), 
	@MaSPDL NVARCHAR(10),
	@SoLuong INT
AS
BEGIN
	UPDATE dbo.CHITIETHOADONNHAP SET SoLuong=@SoLuong WHERE MaHDN=@MaHDN AND MaSPDL=@MaSPDL
END
GO
/****** Object:  StoredProcedure [dbo].[SuaDaiLi]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: Tô Công Hậu
-- Description:	Sửa thông tin Đại lí
-- =============================================
CREATE PROCEDURE [dbo].[SuaDaiLi]
	@MaDL NVARCHAR(10),
	@TenDL NVARCHAR(50),
	@DiaChi NVARCHAR(50),
	@SoDT NVARCHAR(15),
	@TongNo money
AS
BEGIN
	UPDATE dbo.DAILI SET TenDL=@TenDL,DiaChi=@DiaChi,SoDT=@SoDT,TongNo=@TongNo WHERE MaDL=@MADL
END
GO
/****** Object:  StoredProcedure [dbo].[SuaKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 24/4/2018
-- Description:	Sửa Khách Hàng
-- =============================================
CREATE PROCEDURE [dbo].[SuaKH] 
	-- Add the parameters for the stored procedure here
	@MaKH NVARCHAR(10), 
	@TenKH NVARCHAR(50),
	@DiaChi NVARCHAR(50),
	@SoDT NVARCHAR(15),
	@TongNo MONEY
AS
BEGIN
	UPDATE dbo.KHACHHANG SET TenKH=@TenKH,DiaChi=@DiaChi,SoDT=@SoDT,TongNo=@TongNo WHERE MaKH=@MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[SuaPHBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaPHBan] 
	@MaHDB NVARCHAR(10), 
	@TenCH NVARCHAR(50),
	@MaKH NVARCHAR(10),
	@TenKH NVARCHAR(50),
	@NgayNhap DATETIME2,
	@TongTien MONEY,
	@TongNo MONEY ,
	@GhiChu NVARCHAR(100)
AS
BEGIN
	UPDATE dbo.HOADONBANHANG SET TenCH=@TenCH,MaKH=@MaKH,TenKH=@TenKH,NgayNhap=@NgayNhap,TongTien=@TongTien,TongNo=@TongNo,GhiChu=@GhiChu WHERE MaHDB=@MaHDB
END
GO
/****** Object:  StoredProcedure [dbo].[SuaPHNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 25/4/2018
-- Description:	Chỉnh sửa phiếu nhập hàng
-- =============================================
CREATE PROCEDURE [dbo].[SuaPHNhap] 
	-- Add the parameters for the stored procedure here
	@MaHDN NVARCHAR(10), 
	@MaDL NVARCHAR(50),
	@TenDL NVARCHAR(50),
	@NgayNhap DATETIME2,
	@TongTien MONEY,
	@TongNo MONEY
AS
BEGIN
	UPDATE dbo.HOADONNHAPHANG SET MaDL=@MaDL,TenDL=@TenDL,NgayNhap=@NgayNhap,TongTien=@tongTien,TongNo=@TongNo WHERE MaHDN=@MaHDN
END
GO
/****** Object:  StoredProcedure [dbo].[SuaSPCH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaSPCH]
	@MaSPCH NVARCHAR(10),
	@TenSP NVARCHAR(50),
	@Gia MONEY,
	@DonVi NVARCHAR(20),
	@SoLuong INT,
	@HinhAnh NVARCHAR(250),
	@ThongSo INT,
	@BanLe INT,
	@SoLuongLe INT
AS
BEGIN
	UPDATE dbo.SANPHAMCH SET TenSP=@TenSP,Gia=@Gia,DonVi=@DonVi,SoLuong=@SoLuong,HinhAnh=@HinhAnh,ThongSo=@ThongSo,BanLe=@BanLe,SoLuongLe=@SoLuongLe WHERE MaSPCH=@MaSPCH
END
GO
/****** Object:  StoredProcedure [dbo].[SuaSPDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaSPDL] 
	@MaSPDL NVARCHAR(10),
	@TenSP NVARCHAR(50),
	@MaDL NVARCHAR(10),
	@Gia MONEY,
	@DonVi NVARCHAR(20),
	@ThongSo INT
AS
BEGIN
	UPDATE dbo.SANPHAMDL SET TenSP=@TenSP,MaDL=@MaDL,Gia=@Gia,DonVi=@DonVi,ThongSo=@ThongSo WHERE MaSPDL=@MaSPDL
END
GO
/****** Object:  StoredProcedure [dbo].[ThemChiTietPHBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemChiTietPHBan] 
	@MaHDB NVARCHAR(10),
	@MaSPCH NVARCHAR(10),
	@SoLuong INT,
	@DonViTinh NVARCHAR(20),
	@HinhThucBan INT,
	@SoLuongMuaLe INT
AS
BEGIN
	INSERT INTO dbo.CHITIETHOADONBAN(MaHDB,MaSPCH,SoLuong,DonViTinh,HinhThucBan,SoLuongMuaLe)VALUES(@MaHDB,@MaSPCH,@SoLuong,@DonViTinh,@HinhThucBan,@SoLuongMuaLe)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemChiTietPHNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 26/4/2018
-- Description:	Thêm chi tiết phiếu nhập
-- =============================================
CREATE PROCEDURE [dbo].[ThemChiTietPHNhap] 
	@MaHDN NVARCHAR(10), 
	@MaSPDL NVARCHAR(10),
	@SoLuong INT
AS
BEGIN
	INSERT INTO dbo.CHITIETHOADONNHAP(MaHDN,MaSPDL,SoLuong)VALUES(@MaHDN,@MaSPDL,@SoLuong) 
END
GO
/****** Object:  StoredProcedure [dbo].[ThemDaiLi]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 21/4/2018
-- Description:	Thêm Đại lí
-- =============================================
CREATE PROCEDURE [dbo].[ThemDaiLi] 
	@MaDL NVARCHAR(10),
	@TenDL NVARCHAR(50),
	@DiaChi NVARCHAR(50),
	@SoDT NVARCHAR(15),
	@TongNo money
AS
BEGIN
		INSERT INTO dbo.DAILI(MaDL,TenDL,DiaChi,SoDT,TongNo)VALUES(@MaDL,@TenDL,@DiaChi,@SoDT,@TongNo)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 24/4/2018
-- Description:	Thêm Khách Hàng
-- =============================================
CREATE PROCEDURE [dbo].[ThemKH] 
	-- Add the parameters for the stored procedure here
	@MaKH NVARCHAR(10), 
	@TenKH NVARCHAR(50),
	@DiaChi NVARCHAR(50),
	@SoDT NVARCHAR(15),
	@TongNo MONEY
AS
BEGIN
	INSERT INTO dbo.KHACHHANG(MaKH,TenKH,DiaChi,SoDT,TongNo)VALUES(@MaKH,@TenKH,@DiaChi,@SoDT,@TongNo)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemPHBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemPHBan] 
	@MaHDB NVARCHAR(10), 
	@TenCH NVARCHAR(50),
	@MaKH NVARCHAR(10),
	@TenKH NVARCHAR(50),
	@NgayNhap DATETIME2,
	@TongTien MONEY,
	@TongNo MONEY ,
	@GhiChu NVARCHAR(100)
AS
BEGIN
	INSERT INTO dbo.HOADONBANHANG(MaHDB,TenCH,MaKH,TenKH,NgayNhap,TongTien,TongNo,GhiChu)VALUES(@MaHDB,@TenCH,@MaKH,@TenKH,@NgayNhap,@TongTien,@TongNo,@GhiChu)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemPHNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 25/4/2018
-- Description:	Thêm phiếu nhập hàng
-- =============================================
CREATE PROCEDURE [dbo].[ThemPHNhap] 
	-- Add the parameters for the stored procedure here
	@MaHDN NVARCHAR(10), 
	@MaDL NVARCHAR(50),
	@TenDL NVARCHAR(50),
	@NgayNhap DATETIME2,
	@TongTien MONEY,
	@TongNo MONEY
AS
BEGIN
	INSERT INTO dbo.HOADONNHAPHANG(MaHDN,MaDL,TenDL,NgayNhap,TongTien,TongNo)VALUES(@MaHDN,@MaDL,@TenDL,@NgayNhap,@TongTien,@TongNo)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemSPDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemSPDL] 
	-- Add the parameters for the stored procedure here
	@MaSPDL NVARCHAR(10),
	@TenSP NVARCHAR(50),
	@MaDL NVARCHAR(10),
	@Gia MONEY,
	@DonVi NVARCHAR(20),
	@ThongSo INT
AS
BEGIN
	INSERT INTO dbo.SANPHAMDL(MaSPDL,TenSP,MaDL,Gia,DonVi,ThongSo) VALUES (@MASPDL,@TenSP,@MaDL,@Gia,@DonVi,@ThongSo)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemThongTin_TienNoDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ThemThongTin_TienNoDL]
@MaTN NVARCHAR(10),
@MaDL NVARCHAR(10),
@NgayTra DATETIME2,
@SoTienTra MONEY
AS
BEGIN
	INSERT dbo.QUANLI_TIENNODL(MaTN,MaDL,NgayTra,SoTienTra)VALUES(@MaTN,@MaDL,@NgayTra,@SoTienTra)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemThongTin_TienNoKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemThongTin_TienNoKH]
@MaTT NVARCHAR(10),
@MaKH NVARCHAR(10),
@NgayTra DATETIME2,
@SoTienTra MONEY,
@TinhTrang int
AS
BEGIN
	INSERT dbo.QUANLI_TIENNOKH(MaTT,MaKH,NgayTra,SoTienTra,TinhTrang)VALUES(@MaTT,@MaKH,@NgayTra,@SoTienTra,@TinhTrang)
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKe_SP]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKe_SP]
@Month int
AS
BEGIN
	SELECT distinct(B.MaSPCH),TenSP,sum(Gia*B.SoLuong+Gia*B.SoLuongMuaLe/ThongSo) as TongTien
	FROM SanPhamCH A,CHITIETHOADONBAN B,HOADONBANHANG C
	WHERE  Month(NgayNhap)=@Month and A.MaSPCH=B.MaSPCH and C.MaHDB=B.MaHDB
	group by B.MaSPCH,TenSP
END
GO
/****** Object:  StoredProcedure [dbo].[TimKiemKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Description:	Tìm kiếm thông tin khách hàng theo họ tên
-- =============================================
CREATE PROCEDURE [dbo].[TimKiemKH] 
	@TuKhoa NVARCHAR(50)
AS
BEGIN
	SELECT*FROM dbo.KHACHHANG WHERE TenKH LIKE @TuKhoa
END
GO
/****** Object:  StoredProcedure [dbo].[TimKiemKH2]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Description: Tìm kiếm thông tin Khách hàng theo MaKH
CREATE PROCEDURE [dbo].[TimKiemKH2]
	@TuKhoa NVARCHAR(10)
AS
BEGIN
	SELECT*FROM dbo.KHACHHANG WHERE MaKH LIKE @TuKhoa
END
GO
/****** Object:  StoredProcedure [dbo].[TimKiemTHSP]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TimKiemTHSP]
@TenSP NVARCHAR(50)
AS
BEGIN
	SELECT * FROM dbo.SANPHAMCH WHERE TenSP=@TenSP
END
GO
/****** Object:  StoredProcedure [dbo].[TimTenDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TimTenDL] 
	@MaDL NVARCHAR(10)
AS
BEGIN
	SELECT TENDL FROM dbo.DAILI WHERE MaDL=@MaDL
END
GO
/****** Object:  StoredProcedure [dbo].[TONGNO_DAILI]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[TONGNO_DAILI]
@MaDL NVARCHAR(10)
AS
BEGIN
	SELECT TongNo FROM dbo.DAILI WHERE MaDL=@MaDL
END
GO
/****** Object:  StoredProcedure [dbo].[users_checkname]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[users_checkname] 
	-- Add the parameters for the stored procedure here
	@name varchar(50)
AS
BEGIN
	select ID from USERS where UserName = @name;
END
GO
/****** Object:  StoredProcedure [dbo].[users_delete]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[users_delete] 
	@name varchar(50)
AS
BEGIN
	delete from USERS 
	where UserName=@name
END
GO
/****** Object:  StoredProcedure [dbo].[users_getid]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[users_getid] 
	-- Add the parameters for the stored procedure here
	@name varchar(50), 
	@pass varchar(50)
AS
BEGIN
	select ID from USERS where UserName = @name and Pass = @pass
END
GO
/****** Object:  StoredProcedure [dbo].[users_getid1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[users_getid1] 
	@pass varchar(50)
AS
BEGIN
	select ID from USERS where UserName ='Admin' and Pass = @pass
END
GO
/****** Object:  StoredProcedure [dbo].[users_getpass]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[users_getpass] 
	-- Add the parameters for the stored procedure here
	@name varchar(50)
AS
BEGIN
	select Pass from USERS where UserName = @name;
END
GO
/****** Object:  StoredProcedure [dbo].[USERS_INSERT]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USERS_INSERT] 
	-- Add the parameters for the stored procedure here
	@name nvarchar(50), 
	@pass nvarchar(50)
AS
BEGIN
	insert into USERS(UserName, Pass) values (@name, @pass)
END
GO
/****** Object:  StoredProcedure [dbo].[users_list]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[users_list] 
AS
BEGIN
	select ID,UserName,ChucVu,DiaChi,SoDT 
	from USERS
END
GO
/****** Object:  StoredProcedure [dbo].[users_loadinfo]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[users_loadinfo]
@UserName varchar(50)
AS
BEGIN
	select UserName,ChucVu,DiaChi,SoDT 
	from USERS
	where UserName=@UserName
END
GO
/****** Object:  StoredProcedure [dbo].[users_update]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[users_update] 
	@name varchar(50), 
	@ChucVu nvarchar(20),
	@DiaChi nvarchar(50),
	@SoDT varchar(15)
AS
BEGIN
	update USERS set ChucVu=@ChucVu,DiaChi=@DiaChi,SoDT=@SoDT 
	where UserName=@name
END
GO
/****** Object:  StoredProcedure [dbo].[users_updateinfo]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[users_updateinfo] 
	@Name varchar(50),
	@ChucVu nvarchar(20),
	@DiaChi nvarchar(50),
	@SoDT varchar(15)
AS
BEGIN
	update USERS set ChucVu=@ChucVu,DiaChi=@DiaChi,SoDT=@SoDT where UserName = @name
END
GO
/****** Object:  StoredProcedure [dbo].[users_updatepass]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Toan
-- Create date: 10/5
-- Description:	Đổi mật khẩu
-- =============================================
CREATE PROCEDURE [dbo].[users_updatepass] 
	-- Add the parameters for the stored procedure here
	@name varchar(50),
	@pass varchar(50)
AS
BEGIN
	update USERS set Pass = @pass where UserName = @name
END
GO
/****** Object:  StoredProcedure [dbo].[XoaChiTietPHBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 27/4/2018
-- Description:	Xóa chi tiết phiếu bán hàng
-- =============================================
CREATE PROCEDURE [dbo].[XoaChiTietPHBan]
	@MaHDB NVARCHAR(10),
	@MaSPCH nvarchar(10)
AS
BEGIN
	DELETE FROM dbo.CHITIETHOADONBAN WHERE MaHDB=@MaHDB and MaSPCH=@MaSPCH
END
GO
/****** Object:  StoredProcedure [dbo].[XoaChiTietPHNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 26/4/2018
-- Description:	Thêm chi tiết phiếu nhập
-- =============================================
CREATE  PROCEDURE [dbo].[XoaChiTietPHNhap]
	@MaHDN nvarchar(10),
	@MaSPDL NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.CHITIETHOADONNHAP WHERE MaSPDL=@MASPDL and MaSPDL=@MaSPDL
END

SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[XoaDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 22/04/2018
-- Description:	Xóa Tên Đại Lí
-- =============================================
CREATE PROCEDURE [dbo].[XoaDL] 
	@MaDL NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.DAILI WHERE MaDL=@MaDL
END

-- Hàm tự động tăng Mã Đại Lí
SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[XoaKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 24/4/2018
-- Description:	Xóa Khách Hàng
-- =============================================
CREATE PROCEDURE [dbo].[XoaKH] 
	-- Add the parameters for the stored procedure here
	@MaKH NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.KHACHHANG WHERE MaKH=@MaKH
END
GO
/****** Object:  StoredProcedure [dbo].[XoaPHBan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 27/4/2018
-- Description:	Sửa phiếu bán
-- =============================================
CREATE PROCEDURE [dbo].[XoaPHBan] 
		@MaHDB NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.HOADONBANHANG WHERE MaHDB=@MaHDB
END
GO
/****** Object:  StoredProcedure [dbo].[XoaPHNhap]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 25/4/2018
-- Description:	Xóa Phiếu Hàng Nhập
-- =============================================
CREATE PROCEDURE [dbo].[XoaPHNhap] 
	@MaHDN NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.HOADONNHAPHANG WHERE MaHDN=@MaHDN
END
GO
/****** Object:  StoredProcedure [dbo].[XoaSPCH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[XoaSPCH]
	@MaSPCH NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.SANPHAMCH WHERE MaSPCH=@MaSPCH
END

SET ANSI_NULLS ON
GO
/****** Object:  StoredProcedure [dbo].[XoaSPDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tô Công Hậu
-- Create date: 23/4/2018
-- Description:	Xóa Sản Phẩm Đại Lí
-- =============================================
CREATE PROCEDURE [dbo].[XoaSPDL] 
	@MaSPDL NVARCHAR(10)
AS
BEGIN
	DELETE FROM dbo.SANPHAMDL WHERE MaSPDL=@MaSPDL 
END
GO
/****** Object:  StoredProcedure [dbo].[XoaThongTinThanhToan]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaThongTinThanhToan]
@MaTT NVARCHAR(10)
AS
BEGIN
	DELETE FROM  dbo.QUANLI_TIENNOKH WHERE MaTT=@MaTT
END
GO
/****** Object:  StoredProcedure [dbo].[XoaThongTinThanhToanDL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[XoaThongTinThanhToanDL]
@MaTN NVARCHAR(10)
AS
BEGIN
	DELETE FROM  dbo.QUANLI_TIENNODL WHERE MaTN=@MaTN
END
GO
/****** Object:  Trigger [dbo].[CTHDB_HDB]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CTHDB_HDB]
ON  [dbo].[CHITIETHOADONBAN] 
FOR insert,update
AS 
BEGIN
	DECLARE @MaHDB nvarchar(10),@MaSPCH NVARCHAR(10),@TongTien money=0,@SoTien1 money=0,@SoTien2 money=0
	SELECT @MaHdB=MaHDB,@MaSPCH=MaSPCH
	FROM Inserted

	select @SoTien1=TongTien
	from HOADONBANHANG
	where MaHDB=@MaHDB

	select @TongTien=1.1*(Gia*A.SoLuong+SoLuongMuaLe*Gia/B.ThongSo)
	from inserted A,SANPHAMCH B
	where A.MaSPCH=B.MaSPCH

	select @SoTien2=1.1*(Gia*A.SoLuong+SoLuongMuaLe*Gia/B.ThongSo)
	from deleted A,SANPHAMCH B
	where A.MaSPCH=B.MaSPCH

	if(@SoTien1+@TongTien-@SoTien2<0)
	update HOADONBANHANG set TongTien=0 where MaHDB=@MaHDB
	else
	update HOADONBANHANG set TongTien=(@SoTien1+@TongTien-@SoTien2) where MaHDB=@MaHDB
end
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] ENABLE TRIGGER [CTHDB_HDB]
GO
/****** Object:  Trigger [dbo].[CTHDB_HDB1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CTHDB_HDB1]
ON  [dbo].[CHITIETHOADONBAN] 
FOR delete
AS 
BEGIN
	DECLARE @MaHDB nvarchar(10),@MaSPCH NVARCHAR(10),@TongTien money=0,@SoTien1 money=0
	SELECT @MaHdB=MaHDB,@MaSPCH=MaSPCH
	FROM deleted

	select @SoTien1=TongTien
	from HOADONBANHANG
	where MaHDB=@MaHDB

	select @TongTien=1.1*(Gia*A.SoLuong+SoLuongMuaLe*Gia/B.ThongSo)
	from deleted A,SANPHAMCH B
	where A.MaSPCH=B.MaSPCH

	if(@SoTien1-@TongTien<0)
	update HOADONBANHANG set TongTien=0 where MaHDB=@MaHDB
	else
	update HOADONBANHANG set TongTien=(@SoTien1-@TongTien) where MaHDB=@MaHDB
end
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] ENABLE TRIGGER [CTHDB_HDB1]
GO
/****** Object:  Trigger [dbo].[CTHDB_SPCH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CTHDB_SPCH]
ON  [dbo].[CHITIETHOADONBAN] 
FOR insert
AS 
BEGIN
	DECLARE @MaHDB nvarchar(10),@MaSPCH NVARCHAR(10),@SoLuong int=0,@SoLuong1 int=0,@SoLuong2 int=0,@HinhThucBan int,@SoLuong3 int=0
	SELECT @MaHdB=MaHDB,@MaSPCH=MaSPCH,@SoLuong1=SoLuong,@hinhThucBan=HinhThucBan,@SoLuong2=SoLuongMuaLe
	FROM inserted

	select @SoLuong=SoLuong,@SoLuong3=SoLuongLe
	from SANPHAMCH
	where MaSPCH=@MaSPCH

	if @hinhthucban <>1
	begin
		update SANPHAMCH set SoLuong=@SoLuong-@SoLuong1 where MaSPCH=@MaSPCH
	end
	else
	begin
		if @SoLuong2<@SoLuong3
		update SANPHAMCH set SoLuong=@SoLuong-@SoLuong1,SoLuongLe=@SoLuong3-@SoLuong2 where MaSPCH=@MaSPCH
		else
		update SANPHAMCH set SoLuong=@SoLuong-@SoLuong1-1,SoLuongLe=@SoLuong3-@SoLuong2+ThongSo where MaSPCH=@MaSPCH
	end
end
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] ENABLE TRIGGER [CTHDB_SPCH]
GO
/****** Object:  Trigger [dbo].[CTHDB_SPCH1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[CTHDB_SPCH1]
ON  [dbo].[CHITIETHOADONBAN] 
FOR delete
AS 
BEGIN
	declare @SoLuong1 int=0,@SoLuong2 int=0,@MaSPCH  nvarchar(10)
	select @MaSPCH=MaSPCH,@SoLuong1=SoLuong,@SoLuong2=SoLuongMuaLe
	from deleted

	declare @SoLuong4 int=0,@SoLuong3 int=0
	select @SoLuong3=SoLuong,@SoLuong4=SoLuongLe
	from SANPHAMCH
	where MaSPCH=@MaSPCH

	update SANPHAMCH set SoLuong=@SoLuong3+@SoLuong1,SoLuongLe=@SoLuong2+@SoLuong4 where MaSpCH=@MaSPCH
end
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] ENABLE TRIGGER [CTHDB_SPCH1]
GO
/****** Object:  Trigger [dbo].[CTHDB_SPCH2]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[CTHDB_SPCH2]
ON  [dbo].[CHITIETHOADONBAN] 
FOR update
AS 
BEGIN
	DECLARE @MaHDB nvarchar(10),@MaSPCH NVARCHAR(10),@SoLuong int=0,@SoLuong1 int=0,@SoLuong2 int=0,@HinhThucBan int,@SoLuong3 int=0
	SELECT @MaHdB=MaHDB,@MaSPCH=MaSPCH,@SoLuong1=SoLuong,@hinhThucBan=HinhThucBan,@SoLuong2=SoLuongMuaLe
	FROM inserted

	declare @SoLuong4 int=0,@SoLuong5 int=0
	select @SoLuong4=SoLuong,@SoLuong5=SoLuongMuaLe
	from deleted
	select @SoLuong=@SoLuong4+SoLuong,@SoLuong3=@SoLuong5+SoLuongLe
	from SANPHAMCH
	where MaSPCH=@MaSPCH


	if @hinhthucban <>1
	begin
		update SANPHAMCH set SoLuong=@SoLuong-@SoLuong1 where MaSPCH=@MaSPCH
	end
	else
	begin
		if @SoLuong2<@SoLuong3
		update SANPHAMCH set SoLuong=@SoLuong-@SoLuong1,SoLuongLe=@SoLuong3-@SoLuong2 where MaSPCH=@MaSPCH
		else
		update SANPHAMCH set SoLuong=@SoLuong-@SoLuong1-1,SoLuongLe=@SoLuong3-@SoLuong2+ThongSo where MaSPCH=@MaSPCH
	end
end
GO
ALTER TABLE [dbo].[CHITIETHOADONBAN] ENABLE TRIGGER [CTHDB_SPCH2]
GO
/****** Object:  Trigger [dbo].[TRG_CTHDN_HDN]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CTHDN_HDN]
ON  [dbo].[CHITIETHOADONNHAP] 
FOR insert,update
AS 
BEGIN
	DECLARE @MaHDN nvarchar(10),@MaSPDL NVARCHAR(10),@TongTien money=0,@SoTien1 money=0,@SoTien2 money=0
	SELECT @MaHdN=MaHDN,@MaSPDL=MaSPDL
	FROM Inserted

	select @SoTien1=TongTien
	from HOADONNHAPHANG
	where MaHDN=@MaHDN

	select @TongTien=Gia*A.SoLuong
	from inserted A,SANPHAMDL B
	where A.MaSPDL=B.MaSPDL

	select @SoTien2=Gia*A.SoLuong
	from deleted A,SANPHAMDL B
	where A.MaSPDL=B.MaSPDL

	if(@SoTien1+@TongTien-@SoTien2<0)
	update HOADONNHAPHANG set TongTien=0 where MaHDN=@MaHDN
	else
	update HOADONNHAPHANG set TongTien=(@SoTien1+@TongTien-@SoTien2) where MaHDN=@MaHDN
end
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] ENABLE TRIGGER [TRG_CTHDN_HDN]
GO
/****** Object:  Trigger [dbo].[TRG_CTHDN_HDN1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TRG_CTHDN_HDN1]
ON  [dbo].[CHITIETHOADONNHAP] 
FOR delete
AS 
BEGIN
	DECLARE @MaHDN nvarchar(10),@MaSPDL NVARCHAR(10),@TongTien money=0,@SoTien1 money=0
	SELECT @MaHdN=MaHDN,@MaSPDL=MaSPDL
	FROM deleted

	select @SoTien1=TongTien
	from HOADONNHAPHANG
	where MaHDN=@MaHDN



	select @TongTien=Gia*A.SoLuong
	from deleted A,SANPHAMDL B
	where A.MaSPDL=B.MaSPDL

	if(@SoTien1-@TongTien<0)
	update HOADONNHAPHANG set TongTien=0 where MaHDN=@MaHDN
	else
	update HOADONNHAPHANG set TongTien=(@SoTien1-@TongTien) where MaHDN=@MaHDN
end
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] ENABLE TRIGGER [TRG_CTHDN_HDN1]
GO
/****** Object:  Trigger [dbo].[TRG_CTHDN_SPCH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CTHDN_SPCH]
ON  [dbo].[CHITIETHOADONNHAP] 
FOR insert,update
AS 
BEGIN
	DECLARE @MaHDN nvarchar(10),@MaSPDL NVARCHAR(10),@SoLuong int=0,@SoLuong1 int=0,@SoLuong2 int=0
	SELECT @MaHdN=MaHDN,@MaSPDL=MaSPDL,@SoLuong=SoLuong
	FROM inserted

	select @SoLuong1=SoLuong
	from SANPHAMCH
	where MaSPCH=@MaSPDL

	select @SoLuong2=SoLuong
	from deleted
	where MaHDN=@MaHDN

	if(@SoLuong1+@SoLuong-@SoLuong2<0)
	update SANPHAMCH set SoLuong=0 where MaSPCH=@MaSPDL
	else
	update SANPHAMCH set SoLuong=@SoLuong1+@SoLuong-@SoLuong2 where MaSPCH=@MaSPDL
end
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] ENABLE TRIGGER [TRG_CTHDN_SPCH]
GO
/****** Object:  Trigger [dbo].[TRG_CTHDN_SPCH1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CTHDN_SPCH1]
ON  [dbo].[CHITIETHOADONNHAP] 
FOR delete
AS 
BEGIN
	DECLARE @MaSPDL NVARCHAR(10),@SoLuong int=0,@SoLuong1 int=0
	SELECT @MaSPDL=MaSPDL,@SoLuong=SoLuong
	FROM deleted

	select @SoLuong1=SoLuong
	from SANPHAMCH
	where MaSPCH=@MaSPDL


	if(@SoLuong1-@SoLuong<0)
	update SANPHAMCH set SoLuong=0 where MaSPCH=@MaSPDL
	else
	update SANPHAMCH set SoLuong=@SoLuong1-@SoLuong where MaSPCH=@MaSPDL
end
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] ENABLE TRIGGER [TRG_CTHDN_SPCH1]
GO
/****** Object:  Trigger [dbo].[TONGNO_KH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[TONGNO_KH]
ON  [dbo].[HOADONBANHANG] 
FOR insert,update
AS 
BEGIN
	DECLARE @MaHDB nvarchar(10),@MaKH NVARCHAR(10),@TongNo money=0,@SoTien1 money=0,@SoTien2 money=0
	SELECT @MaHdB=MaHDB,@MaKH=MaKH,@TongNo=TongNo
	FROM Inserted

	select @SoTien1=TongNo
	from KhachHang
	where MaKH=@MaKH

	select @SoTien2=TongNo
	from Deleted
	where MaHDB=@MaHDB

	if(@SoTien1+@TongNo-@SoTien2<0)
	update KhachHang set TongNo=0 where MaKH=@MaKH
	else
	update KhachHang set TongNo=@SoTien1+@TongNo-@SoTien2 where MaKH=@MaKH
end
GO
ALTER TABLE [dbo].[HOADONBANHANG] ENABLE TRIGGER [TONGNO_KH]
GO
/****** Object:  Trigger [dbo].[TONGNO_KH1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TONGNO_KH1]
ON  [dbo].[HOADONBANHANG] 
FOR delete
AS 
BEGIN
	DECLARE @MaKH NVARCHAR(10),@TongNo money=0,@SoTien1 money=0
	SELECT @MaKH=MaKH,@TongNo=TongNo
	FROM deleted

	select @SoTien1=TongNo
	from KhachHang
	where MaKH=@MaKH


	if(@SoTien1-@TongNo<0)
	update KHACHHANG set TongNo=0 where MaKH=@MaKH
	else
	update KhachHang set TongNo=@SoTien1-@TongNo where MaKH=@MaKH
end
GO
ALTER TABLE [dbo].[HOADONBANHANG] ENABLE TRIGGER [TONGNO_KH1]
GO
/****** Object:  Trigger [dbo].[TRG_CTHDB_KH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_CTHDB_KH]
ON  [dbo].[HOADONBANHANG] 
FOR insert
AS 
BEGIN
	DECLARE @MaKH NVARCHAR(10),@TenKH nvarchar(50)
	SELECT @MaKH=MaKH,@TenKh=TenKH
	FROM inserted
	
	IF Not EXISTS(SELECT MaKH FROM KHACHHANG WHERE MaKH = @MaKH)
	insert into KhachHang values (@MaKh,@TenKH,null,null,0)
end
GO
ALTER TABLE [dbo].[HOADONBANHANG] ENABLE TRIGGER [TRG_CTHDB_KH]
GO
/****** Object:  Trigger [dbo].[TONGNO_DL]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TONGNO_DL]
ON  [dbo].[HOADONNHAPHANG] 
FOR insert,update
AS 
BEGIN
	DECLARE @MaHDN nvarchar(10),@MaDL NVARCHAR(10),@TongNo money=0,@SoTien1 money=0,@SoTien2 money=0
	SELECT @MaHdn=MaHDN,@MaDL=MaDL,@TongNo=TongNo
	FROM Inserted

	select @SoTien1=TongNo
	from DaiLi
	where MaDL=@MaDL

	select @SoTien2=TongNo
	from Deleted
	where MaHDN=@MaHDN

	if(@SoTien1+@TongNo-@SoTien2<0)
	update DaiLi set TongNo=0 where MaDL=@MaDL
	else
	update DaiLi set TongNo=@SoTien1+@TongNo-@SoTien2 where MaDL=@MaDL
end
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ENABLE TRIGGER [TONGNO_DL]
GO
/****** Object:  Trigger [dbo].[TONGNO_DL1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TONGNO_DL1]
ON  [dbo].[HOADONNHAPHANG] 
FOR delete
AS 
BEGIN
	DECLARE @MaHDN nvarchar(10),@MaDL NVARCHAR(10),@TongNo money=0,@SoTien1 money=0
	SELECT @MaDL=MaDL,@TongNo=TongNo
	FROM deleted

	select @SoTien1=TongNo
	from DaiLi
	where MaDL=@MaDL


	if(@SoTien1-@TongNo<0)
	update DaiLi set TongNo=0 where MaDL=@MaDL
	else
	update DaiLi set TongNo=@SoTien1-@TongNo where MaDL=@MaDL
end
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ENABLE TRIGGER [TONGNO_DL1]
GO
/****** Object:  Trigger [dbo].[QLTIENNODAILI]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[QLTIENNODAILI]
ON  [dbo].[QUANLI_TIENNODL] 
FOR insert,update
AS 
begin
	declare @MaTN nvarchar(10),@MaDL nvarchar(10),@SoTien money=0,@SoTien1 money=0,@SoTien2 money=0
	select @MaTN=MaTN,@MaDL=MaDL,@SoTien=SoTienTra
	From inserted

	select @SoTien1=SoTienTra
	from deleted
	where MaTN=@MaTN

	select @SoTien2=TongNo
	from DaiLi
	where maDL=@MaDL

	if (@SoTien2+@SoTien1<@SoTien)
	update DaiLi set TongNo=0 where MaDL=@MaDL
	else
	update DaiLi set TongNo=@SoTien2-@SoTien+@SoTien1 where MaDL=@MaDL
end
GO
ALTER TABLE [dbo].[QUANLI_TIENNODL] ENABLE TRIGGER [QLTIENNODAILI]
GO
/****** Object:  Trigger [dbo].[QLTIENNODAILI1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[QLTIENNODAILI1]
ON  [dbo].[QUANLI_TIENNODL] 
FOR delete
AS 
begin
	declare @MaDL nvarchar(10),@SoTien money=0,@SoTien2 money=0
	select @MaDL=MaDL,@SoTien=SoTienTra
	From deleted


	select @SoTien2=TongNo
	from DaiLi
	where maDL=@MaDL

	if (@SoTien2<@SoTien)
	update DaiLi set TongNo=0 where MaDL=@MaDL
	else
	update DaiLi set TongNo=@SoTien2+@SoTien where MaDL=@MaDL
end
GO
ALTER TABLE [dbo].[QUANLI_TIENNODL] ENABLE TRIGGER [QLTIENNODAILI1]
GO
/****** Object:  Trigger [dbo].[QLTIENNOKH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[QLTIENNOKH]
ON  [dbo].[QUANLI_TIENNOKH] 
FOR update
AS 
begin
	declare @MaTT nvarchar(10),@MaKH nvarchar(10),@SoTien money=0,@SoTien2 money=0,@SoTien1 money=0
	select @MaTT=MaTT,@MaKH=MaKH,@SoTien=SoTienTra
	From inserted


	select @SoTien2=TongNo
	from KHACHHANG
	where maKH=@MaKH

	select @SoTien1=SoTienTra
	from deleted
	where MaTT=@MaTT

	if (@SoTien2+@SoTien1<@SoTien)
	update KHACHHANG set TongNo=0 where MaKH=@MaKH
	else
	update KHACHHANG  set TongNo=@SoTien2-@SoTien+@SoTien1 where MaKH=@MaKH
end
GO
ALTER TABLE [dbo].[QUANLI_TIENNOKH] ENABLE TRIGGER [QLTIENNOKH]
GO
/****** Object:  Trigger [dbo].[TRG_SPDL_CH]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  TRIGGER [dbo].[TRG_SPDL_CH]
ON  [dbo].[SANPHAMDL] 
FOR INSERT
AS 
BEGIN
	DECLARE @MaSPDL NVARCHAR(10),@TenSP NVARCHAR(50),@Gia MONEY,@DonVi NVARCHAR(20),@ThongSo int
	SELECT @MaSPDL=MaSPDL,@TenSP=TenSP,@Gia=Gia,@DonVi=DonVi,@ThongSo=ThongSo
	FROM Inserted

	INSERT INTO dbo.SANPHAMCH(MaSPCH,TenSP,Gia,DonVi,SoLuong,HinhAnh,ThongSo,BanLe,SoLuongLe)VALUES(@MaSPDL,@TenSP,@Gia,@DonVi,0,NULL,@ThongSo,0,0)
END
GO
ALTER TABLE [dbo].[SANPHAMDL] ENABLE TRIGGER [TRG_SPDL_CH]
GO
/****** Object:  Trigger [dbo].[TRG_SPDL_CH1]    Script Date: 7/3/2018 4:40:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create TRIGGER [dbo].[TRG_SPDL_CH1]
ON  [dbo].[SANPHAMDL] 
FOR update
AS 
BEGIN
	DECLARE @MaSPDL NVARCHAR(10),@TenSP NVARCHAR(50),@Gia MONEY,@DonVi NVARCHAR(20),@ThongSo int
	SELECT @MaSPDL=MaSPDL,@TenSP=TenSP,@Gia=Gia,@DonVi=DonVi,@ThongSo=ThongSo
	FROM Inserted

	update SANPHAMCH set TenSP=@TenSP,Gia=@Gia,DonVi=@DonVi,ThongSo=@ThongSo where MaSPCH=@MaSPDL
end
GO
ALTER TABLE [dbo].[SANPHAMDL] ENABLE TRIGGER [TRG_SPDL_CH1]
GO
USE [master]
GO
